# Import Pandas!

We start by importing pandas! This package is included with the base installation of Anaconda.

Also let's import numpy.

In [ ]:
import pandas as pd
import numpy as np

# Series and DataFrame Basics

Now we need some data to manipulate...

Suppose there were 7 guys whose favorite colors and numbers were as given below:

## Creating a DataFrame

In [ ]:
names = ['Timmy','Jimmy','Ed','Ned','Fred','Jed','Ted']
colors = ['red','blue','green','red','yellow','orange','blue']
numbers = [100,25,34,7,60,2,55]

In [ ]:
df = pd.DataFrame({'Name': names, 'Color': colors,'Number':numbers})

In [ ]:
df

In [ ]:
df.columns.tolist() #first do without .tolist()

In [ ]:
df.index.tolist()

## Accessing Columns/Rows

In [ ]:
df['Name']

In [ ]:
df['Color']

In [ ]:
df.loc[1]

## Selecting Multiple Columns/Rows

In [ ]:
df[['Color','Name']]

In [ ]:
df.loc[[1,3]]

## Selecting the First/Last k Amount of Rows

In [ ]:
df.head(5)

In [ ]:
df.tail(3)

## Iterating through rows of a dataframe

Generally speaking, I'm not a big fan of iterating through dataframes as a solution since dataframes are built for vectorization. 


However sometimes it's necessary, and we can iterate through the rows of a dataframe as follows:

In [ ]:
df

In [ ]:
for index, row in df.iterrows(): #this outputs 2 things: an index and a pandas Series. We use row.values to extract the row values themselves.
    print(index, end='\t')
    print(row.values)    #first execute without .values to show the difference

In [ ]:
for index, row in df.iterrows():
    print('Index: {}\tName: {}\tFavorite Number: {}'.format(index,row['Name'],row['Number']))

# Manipulating DataFrames

## Adding Columns to DataFrame

In [ ]:
df['Age'] = [25,20,19,np.nan,50,23,40]

In [ ]:
df

## Adding Rows to DataFrame

In [ ]:
df.loc[7] = ['Bob',np.nan,80,39]

In [ ]:
df

## Concatenating Two DataFrames

In [ ]:
df_new = pd.DataFrame({'Name': ['Steve','Julius','Dwight'], 'Color': ['violet','indigo','pink'],'Number': [392,40,10],'Age': [24,42,33]})

In [ ]:
pd.concat([df,df_new]) #notice the indices

In [ ]:
pd.concat([df,df_new]).loc[0].iloc[1] #With these indices, obtaining the row containing Steve via indices is sloppy, isn't it?

In [ ]:
pd.concat([df,df_new],ignore_index=True) #much more intuitive now to simply use .loc[8]

In [ ]:
pd.concat([df,df_new],ignore_index=True).loc[8]

## Replacing data within a DataFrame

Whole entries

In [ ]:
df.replace('blue','purple') # replaces whole entries in the dataframe

Substrings

In [ ]:
df.replace('immy','imbo',regex = True) #replaces string patterns within each word

## Filling in Missing Data Values

In [ ]:
df.fillna(0)

In [ ]:
df['Age'].mean()

In [ ]:
df = df.fillna({'Color':'none','Age':df['Age'].mean()})

In [ ]:
df

In [ ]:
df['Age'].round()

In [ ]:
df['Age'] = df['Age'].round().astype(int)

In [ ]:
df

## Filtering DataFrames

In [ ]:
df

In [ ]:
df[df['Number'] < df['Age']]

### .str accessor within dataframes

In [ ]:
df[df['Name'].str.contains('ed')] #rows such that the 'Name' field contains the string 'ed'

In [ ]:
df[df['Color'].str.count('l') >= 1] #rows such that the 'Color' field contains at least 1 'l'

### Multiple conditions

Whenever you have multiple conditions in a dataframe query, you need to ensure that each condition is surrounded by parentheses. This is due to how the order of operations works within pandas.

In [ ]:
df[(df['Number'] > 20) & (df['Age'] > 30)]

In [ ]:
# & = 'AND'
# | = 'OR'

df[(df['Number'] > 20) & (df['Age'] > 30) | (df['Name'].str.contains('immy'))]

### Using Existing Columns to Make New Columns

In [ ]:
df['Num_Age_Ratio'] = df['Number']/df['Age']

In [ ]:
df

# Reading & Writing DataFrames

## Reading CSVs

Suppose you have a CSV of the Harry Potter characters - how would you load it into python? f.open and readlines or some shit like that? 
NOOOOOOOOOOOOO

use pandas!!

In [ ]:
HP_chars_df = pd.read_csv('Data/Characters.csv')
HP_chars_df

Using our knowledge gained from the previous section, let's make a more complex query to the DataFrame: 

Who are the Slytherins whose wand core contains Dragon Heartstring?

In [ ]:
HP_chars_df[(HP_chars_df['House'] == 'Slytherin') & (HP_chars_df['Wand (Core)'] == 'Dragon Heartstring')]

## Reading CSVs With Different Header Settings

What if we don't want to treat the first row as a header?

In [ ]:
pd.read_csv('Data/Characters.csv', header = None)

I want to skip the first five rows! No Problem!

In [ ]:
pd.read_csv('Data/Characters.csv', skiprows=5)

No no no... I don't want that as the header!

In [ ]:
pd.read_csv('Data/Characters.csv', skiprows=5, header = None)

## Writing DataFrames

Suppose I want to find all the Gryffindors, then write the results to a local file.

In [ ]:
gryf_df = HP_chars_df[HP_chars_df['House'] == 'Gryffindor']
gryf_df

In [ ]:
# This line writes the resulting dataframe to a .csv file, 
# while the index = False argument omits the index from the output.

gryf_df.to_csv('Gryffindor_Characters.csv',index = False)

In [ ]:
gryf_df.to_dict() #converts dataframe to a dictionary object

In [ ]:
gryf_df.to_json('Gryffindor_Characters.json') #writes object to a .json object

# Aggregating Data Within a Series

## .value_counts()

In [ ]:
gryf_df['Gender'].value_counts()

In [ ]:
gryf_df['Species'].value_counts()

Going back to the original dataset, let's see how the houses break down

In [ ]:
HP_chars_df['House'].value_counts(normalize = True) #expresses the unique values as proportions

In [ ]:
HP_chars_df['House'].value_counts().plot.bar();

## pd.cut()

Suppose I want to divide the previous dataset into 3 bins. We can use the pd.cut function to do this.

In [ ]:
house_counts = HP_chars_df['House'].value_counts()
house_counts

The default arguments will give you equally spaced bins.

In [ ]:
pd.cut(house_counts,3)

If we want to use customized bin edges, we can do it like this:

In [ ]:
pd.cut(house_counts,[1,7,18,99])

In [ ]:
pd.cut(house_counts,[1,7,18,99], labels = ['Bottom Third', 'Middle Third', 'Top Third'])

# Aggregating Data Within a DataFrame

For the next section, let's take a look at a dataset of 2000 individuals with the following data points: income, age, loan principal, default history (0 = False, 1 = True)

In [ ]:
cred_df = pd.read_csv('Data/credit_data.csv')

In [ ]:
cred_df

In [ ]:
cred_df.describe()

In [ ]:
cred_df = cred_df.dropna()
cred_df

In [ ]:
cred_df = cred_df[cred_df['age'] > 0]
cred_df

## .groupby()

In [ ]:
cred_df[['income','age','loan','default']].groupby('default').mean()

In [ ]:
cred_df.default.value_counts()

## .crosstab()

In [ ]:
conf_matrix = pd.crosstab(cred_df.age<40, cred_df.default)
conf_matrix

precision

In [ ]:
conf_matrix.loc[True][1] / conf_matrix.loc[True].sum()

recall

In [ ]:
conf_matrix.loc[True][1] / conf_matrix[1].sum()

# Merging DataFrames

For the following section, let's create our own dataframes and look at the different ways to merge them.

## How to Set/Reset DataFrame Index

In [ ]:
grades_df = pd.DataFrame({'Name': ['Sal', 'Joe', 'Q', 'Murr'],'Grade': (100 * np.random.rand(4))})
grades_df

In [ ]:
majors_df = pd.DataFrame({'Name': ['Phil', 'Joe', 'Jack', 'Bob','Q'],'Major':['Applied Math','Computer Science','History','Civil Engineering','Philosophy']})
majors_df

In [ ]:
grades_df = grades_df.set_index('Name')
grades_df

In [ ]:
majors_df = majors_df.set_index('Name')
majors_df

In [ ]:
majors_df.reset_index() #If you want to undo the new index, you can reset it like so.

## Outer/Inner Joins

In [ ]:
grades_df.merge(majors_df,how = 'inner',on = 'Name') #intersection of two dataframes

In [ ]:
grades_df.merge(majors_df,how = 'outer',on = 'Name') #union of two dataframes

## Left/Right Merges

Once we learn how to merge dataframes, we can take multiple tables of information and combine them to answer more sophisticated questions:
(Under the implied assumption that the data is accurate)
* Approximately how much of the Harry Potter Cinematic Universe (HPCU) takes place in Hogwarts?
    * What are the 5 most common locations within the HPCU ?
* In how many lines is the word 'Horcruxes' mentioned?

In [ ]:
HP_places_df = pd.read_csv('Data/Places.csv')
HP_dialogue_df = pd.read_csv('Data/Dialogue.csv', encoding = "ISO-8859-1")

In [ ]:
HP_merged_df = HP_dialogue_df.merge(HP_places_df,how = 'left', on='Place ID')
HP_merged_df.sort_values('Dialogue ID')

In [ ]:
HP_merged_df

In [ ]:
HP_merged_df.merge(HP_chars_df,how = 'left', on='Character ID').sort_values('Dialogue ID')

In [ ]:
HP_merged_df = HP_merged_df.merge(HP_chars_df,how = 'right', on='Character ID')

In [ ]:
HP_condensed_df = HP_merged_df[['Dialogue ID','Character Name','Place Name', 'Place Category','Dialogue']].set_index('Dialogue ID')

In [ ]:
HP_condensed_df = HP_condensed_df.sort_index()

In [ ]:
HP_condensed_df

In [ ]:
HP_condensed_df.value_counts('Place Category',normalize = True)

In [ ]:
HP_condensed_df.value_counts('Place Name').iloc[:5]

In [ ]:
HP_condensed_df[HP_condensed_df['Dialogue'].str.contains('Horcruxes')]

In [ ]:
HP_condensed_df[HP_condensed_df['Dialogue'].str.contains('Horcruxes')].shape[0]

# Data Visualization Within A DataFrame

In [ ]:
income_df = pd.read_csv('Data/median_weekly_earnings_1979to2018.csv')
income_df.head(5)

In [ ]:
income_df = income_df.dropna().astype(int)
income_df.head(5)

In [ ]:
income_df.plot.scatter('Year','Median Weekly Earnings ',marker = '^',color = 'r');

In [ ]:
income_df.plot.line('Year','Median Weekly Earnings ',marker = 's',color = 'g');

In [ ]:
income_df.plot.line('Year','Median Weekly Earnings ',marker = 's',color = 'g', title = 'Year vs. Median Weekly Earnings');

In [ ]:
income_df.plot.line('Year','Median Weekly Earnings ',marker = 's',color = 'g', title = 'Year vs. Median Weekly Earnings', ylabel = 'Dollars');

In [ ]:
income_df['Median Weekly Earnings '].plot.box(title = 'Title', color = 'red');